content {
    background-color: var(--light-color);
    display: flex;
    height: 65vh;
    justify-content: center;
    align-items: top;
    
}

content h1 {
    display: inline-block;
    color: var(--light-color);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 6vh;
}

content img {
    height: 45vh;
    padding-left: var(--gutter);
    padding-right: var(--gutter);
    padding-top: 2vh;
    padding-bottom: 2vh;
}

content p {
    display: block;
    padding-left: var(--gutter);
    padding-right: var(--gutter);
    justify-content: center;
    align-items: center;
    
}