header {
    background-color: var(--dark-color);
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1 {
    color: var(--light-color);
    font-family: 'Courier New', Courier, monospace;
}