header {
    background-color: var(--dark-color);
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1 {
    display: inline-block;
    color: var(--light-color);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10vh;

}

header img {
    display: none;
    height: 20vw;
}