header {
    display: flex;
    flex-direction: column;
    background-color: var(--dark-color);
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#header {
    margin-left: 0vw;
    align-content: right;

}

#header h1 {
    margin-top: 0vw;
    color: var(--light-color);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10vh;
    line-height: 1.2;
}

#slogan p {
    color: var(--light-color);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 5vh;
    line-height: 1.5;
}

@media only screen and (max-aspect-ratio: 1) {

    header {
        height: 15vh;

    }

    #header h1 {
        margin-top: 0vw;

        font-size: 5vh;
        line-height: 1.2;
    }

    #slogan p {
        font-size: 2vh;
        line-height: 1.5;
    }
}

