nav {
    background-color: var(--grey-color);
    display: flex;
    justify-content: left;
    align-items: center;
    height: 50px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-block;
}

nav a {
    display: inline-block;
    padding: 0.5em var(--gutter);
    text-decoration: none;
}

nav a:hover {
    color: var(--accent-color);
}